*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

/*======== Header ========*/

header{
    background-color: #680792;
    font-weight: bold;
    text-align: center;

    padding: 25px;
}

    #headerTitle{
        color: #ffdfb8;
        font-size: 40px;

        margin-bottom: 0px;
    }
    #headerSubtitle{
        color: #b1ffb1;
        font-size: 35px;

        margin-top: 10px;
    }

/*========= Navbar ========*/

.navbar{
    background-color: #2b063b;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

    .navbar ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }
    .navbar a{
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        display: block;
        padding: 20px;
    }
    .navbar li{
        display: inline-block;
    }

        .navbar li:hover:not(#navbarHere, #navbarNote){
            background-color: #3a074f;
        }
        .navbar li:active:not(#navbarHere, #navbarNote){
            background-color: #490963;
        }

    #navbarHere{
        background-color: #4c0c67;
    }
        #navbarHere a{
            color: #ffff00;
        }

/*======== Main ========*/

main{
    padding: 80px 20px;
}
/*==== Aside ====*/

#animalResult, #colorResult{
    color: darkgreen;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

aside{
    margin-bottom: 20px;
}
aside label{
    font-size: 25px;
}

#asideLeft{
    float: left;
    width: 50%;
}
    #asideLeftTitle{
        color: #800080;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }
    
    #asideLeft input, button{
        margin-left: 50px;
    }
    

#asideRight{
    float: right;
    width: 50%;
}
    #asideRightTitle{
        color: #800080;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
    }

    #asideRight button, input{
        margin-left: 170px;
    }

.submitBtn{
    background-color: #d3ffd3;
    font-size: 20px;

    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 5px;
    
    transition: background-color 0.5s;
}

    .submitBtn:hover{
        background-color: #95ba95;
        
    }

    .submitBtn:active{
        background-color: #546c54;
        transition: background-color 0s;
    }


/*======== Footer ========*/

footer{
    background-color: #680792;
    color: #ffffff;
    font-size: 20px;
    text-align: center;

    padding: 25px;

    clear: both;
}

    footer a{
        color: #a8deff;
    }