body{
    margin:0px;
}

/*====== Header ======*/

header{
    background-color: #feeaee;
    font-weight: bold;
    text-align: center;

    padding: 20px;
}
    #headerTitle{
        color: #800080;
        font-size: 40px;

        margin-bottom: 0px;
    }
    #headerSubtitle{
        color: #641664;
        font-size: 35px;

        margin-top: 10px;
    }

/*====== Navbar ======*/

.navbar{
    background-color: #e78fff;
    border: 2px solid #000000;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

    .navbar ul{
        list-style-type: none;
        padding: 0px;
        margin: 0px;
    }

    .navbar a{
        color: #000000;
        font-size: 20px;
        text-decoration: none;

        display: block;
        padding: 20px;
    }

    .navbar li{
        display: inline-block;
    }


    #navbarHere{
        background-color: #834c93;
    }
        #navbarHere a{
            color: #ffff00;
        }

    
        .navbar li:hover:not(#navbarHere, #navbarNote){
            background-color: #ca7de0;
        }
        .navbar li:active:not(#navbarHere, #navbarNote){
            background-color: #aa66bd;
        }

/*====== Main ======*/

main{
    margin-top: 70px;
    margin-bottom: 70px;
}

#numberLabel{
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
}

.btnContainer{
    text-align: center;
}

.buttons{
    font-size: 30px;
    padding: 10px 30px;
    
    border: 2px solid #000000;
    border-radius: 10px;

    cursor: pointer;
}

    #minusBtn{
        background-color: #ffb6c1;
        color: #000000;

        transition: background-color 0.30s;
    }
        #minusBtn:hover{
            background-color: #db98a2;
        }
        #minusBtn:active{
            background-color: #a6747c;
        }

    #resetBtn{
        background-color: #87cefa;
        color: #000000;

        transition: background-color 0.30s;
    }
        #resetBtn:hover{
            background-color: #6d9ebd;
        }
        #resetBtn:active{
            background-color: #4e6789;
        }

    #addBtn{
        background-color: #a8ffa8;
        color: #000000;

        transition: background-color 0.30s;
    }
        #addBtn:hover{
            background-color: #90bf90;
        }
        #addBtn:active{
            background-color: #648464;
        }

/*====== Footer ======*/

footer{
    background-color: #feeaee;
    font-size: 20px;
    text-align: center;
    
    padding: 20px;
}


/*
color: white;
background-color: #b4b4ff;

cursor: pointer;
transition: background-color 0.25s;
*/